{{#if isAdmin}}
    {{> adminLogout}}
{{/if}}
<h1>Title: {{post.title}}</h1>
<p>Author: {{post.author}}</p>
<p>Main Text: {{post.main-text}}</p>
<p><a href="/admin/update/{{post.identifier}}">update</a></p>
<form action="/admin/delete" method="POST">
    <input type="hidden" name="identifier" value="{{post.identifier}}">
    <input type="submit" value="delete">
</form>