<h1>Title: {{post.title}}</h1>
<p>Author: {{post.author}}</p>
<p>Main Text: {{post.main-text}}</p>


<form action="/read/{{post.id}}/createComment" method="post">
    <div>
        <input type="text" name="author" placeholder="작성자를 입력하세요">
        <input type="text" name="comment" placeholder="댓글을 입력하세요">
        <input type="submit" value="입력">
    </div>
</form>

<ul>
    {{#each commentList}}
        <li>
            <p>{{this.author}}: {{this.comment}}   <a href="/read/{{../post.id}}/updateComment/{{this.commentId}}">수정하기</a></p>
        </li>
    {{/each}}
</ul>

