<h1>Title: {{post.title}}</h1>
<p>Author: {{post.author}}</p>
<p>Main Text: {{post.mainText}}</p>


<form action="/{{post.id}}/create-comment" method="post">
    <div>
        <input type="text" name="author" placeholder="작성자를 입력하세요">
        <input type="text" name="comment" placeholder="댓글을 입력하세요">
        <input type="submit" value="입력">
    </div>
</form>

<ul>
    {{#each comments}}
        <li>
            <p>
                {{author}}: {{comment}}   
                <a href="/{{../post.id}}/update-comment?id={{id}}">수정하기</a>
                <form action="/{{../post.id}}/delete-comment?id={{id}}" method="post" style="display: inline;">
                    <input type="submit" value="삭제하기">
                </form>
            </p>
        </li>
    {{/each}}
</ul>

